.nav{
    height: 100px;
    width: 100%;
    background-color: black;
    color: aliceblue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    list-style: none;
    font-weight: bolder;
    transition: 1s ease-in 0.2s;
    display: inline-block;
    font-size: large;
}
span{
    font-size: larger;
    margin-left: 80px;
    border: 2px solid white;
    padding: 10px;
    transition: 0.2s ease-in 0.2s;
    cursor: pointer;
    border-radius: 10px 20px;

}
p:hover{
    color:color(from red srgb 222 80 90);
    cursor: pointer;
}

span:hover{
    box-shadow: 10px 10px 20px green ;
}

.foot{
    display: flex;
    height: 200px;
    background-color: brown;
    color: aliceblue;
    align-items: center;
    justify-content: center;
    margin-top: 60%;
}