:root{
    background-color: bisque;
}
h1{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    text-align: center;
    justify-content: center;
}
button{
    display: flex;
    border-radius: 10px 20px;
    padding: 30px;
    transition: 0.5s ease-in-out 0.2s;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    margin: auto;
    margin-top: 10px;
}
button:hover{
    box-shadow: 10px 5px 10px green;
}